<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Guestbook</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Guestbook</h1>
      <nav>
        <a href="{{ url_for('index') }}">Leave a message</a> |
        <a href="{{ url_for('entries_page') }}">See messages</a>
      </nav>
      <hr />
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
